{% extends 'base.html.twig' %}

{% block title %}Game!{% endblock %}

{% block body %}
<style>

</style>
	<div class="game">
		<section class="guesses">
			<h2>Guesses</h2>
		 	{% for guess in game.guesses %}
		 	<span>{{ guess.value }} by {{ guess.user.name }}</span>
		 	{% endfor %}
		</section>
		<section class="users">
			<h2>Players</h2>
			{% for user in game.users %}
			<span>{{ user.name }}</span>
			{% endfor %}
		</section>
	</div>

{% endblock %}
