{% extends 'base.html.twig' %}

{% block title %}Game lobby{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    Test lobby

    Games:
    <div>
    {% for game in games %}
    	<a href="{{ path('game', {'id': game.id}) }}">Game {{ game.id }} </a>
    {% endfor %}
    </div>
</div>
{% endblock %}
